<div class="bg-body-secondary text-center py-5 rounded-2">
    <h1 class="dispay-6 fw-bold">Peliculas</h1>
</div>

<div class="row mt-5">
    <div class="col-6">
        <app-peliculas-form/>
    </div>
    <div class="col-6">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-start mb-2 border px-4 py-3 rounded-3" *ngFor="let ser of service.listP">
                <div class="flex-grow-1 mouse-hover">
                    <div class="fw-bold">{{ser.titulo}}({{ser.anio}})</div>
                    <div>{{ser.reparto}}</div>
                </div>
                <span class="text-secondary">
                    <i class="fa-solid fa-trash-can fa-lg mouse-hover"></i>
                </span>
            </li>
        </ul>
    </div>
</div>
